Babel
Kivy
Kivy-Garden
Pygments
certifi
charset-normalizer
contourpy
customtkinter
cycler
darkdetect
docutils
easygui
fonttools
idna
kiwisolver
matplotlib
numpy
packaging
pillow
pip
psutil
pyparsing
python-dateutil
requests
setuptools
six
tk
ttkthemes
urllib3
wxPython
shapely